form(action="/usertasks", method="post" id=task.id+"addUserbtn" class="addUserbtn toggleList")
    input(type="text", name="name", required)
    input(type="hidden", name="taskId", value=task.id, required)
    input(type="submit", value = "Enter task")   