form(action="/suggestions", method="post" id=house.id+"addSuggestionBtn",  class="toggleList")
    input(type="text", name="text", placeholder="suggestion text",required)
    input(type="hidden", name="houseId",value=house.id, required)
    input(type="submit", value = "Add")