form(action="/users", method="post" id="addUserForm" class="toggleList")
    input(type="text", name="name", placeholder="name",required)
    input(type="password", name="password", placeholder="Lösenord" required)
    p Worker eller användare (ha på för användare)
    input(type="checkbox", name="worker", placeholder="Lösenord",class="checkbox")
    input(type="submit", value = "Create user")  