form(action="/houses", method="post" id="housePost" class="toggleList")
    input(type="text", name="address", placeholder="house address",required)
    input(type="text", name="description", placeholder="Description" required)
    input(type="number" name="price", placeholder="price (number)", required)
    input(type="submit", value = "Add")