if(house.tasks)
    each task in house.tasks 
        p=task.taskName
        button(class="toggleButton", toggleTarget=task.id+"addUserTaskbtn") Add user
        include taskIncludes/createUserTask.pug
        if(task.usertasks)
            h3 Workers in task:
            each usertask in task.usertasks
                if(usertask.user)
                    each user in usertask.user 
                        p=user.name