form(id=suggestion.id+"updSuggestionbtn", class="updSuggestionbtn toggleList", suggestionId=suggestion.id)
    input(type="text", name="text", placeholder="new text")
    input(type="submit", value = "Update with values")