form(id=house.id+"updHousebtn", class="updHousebtn toggleList", houseId=house.id)
    input(type="text", name="address", placeholder="new address")
    input(type="text", name="description", placeholder="new description")
    input(type="number", name="price", placeholder="Price")
    input(type="submit", value = "Update with values")