if(house.workerHouses)
    each workerHouse in house.workerHouses
        div(id=workerHouse.id)
            if(workerHouse.user)
                p=workerHouse.user.name
                if(user.worker==false)
                    button(data-type="delete",class="workerHouseDeleteButton", workerHouseId=workerHouse.id) Delete worker from house