form(id=comment.id+"updCommentbtn", class="updCommentbtn toggleList", commentId=comment.id)
    input(type="text", name="text", placeholder="New description")
    input(type="text", name="description", placeholder="New Description")
    input(type="submit", value = "Update with values")