doctype html
html 
    head 
        link(href="style.css", rel="stylesheet")
        script(src="client.js" defer) 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        if title
            title=title 
        else 
            title Default title from pug...

    body 
        header
            h1 WEBBXAMI
            if(user)
                div(class="controls")
                    if(user.worker==false)
                        button(class="toggleButton", toggleTarget="housePost") Add House
                        button(class="toggleButton", toggleTarget="addWorkerForm") Add worker
                        button(class="toggleButton", toggleTarget="addUserForm") Add user
                    form(action="/logout", method="post")
                        input(type="submit", value = "logout") 
                include includes/createHouse.pug
                include includes/createWorker.pug
                form(action="/users", method="post" id="addUserForm" class="toggleList")
                    input(type="text", name="name", placeholder="name",required)
                    input(type="hidden",name="user",value="true")
                    input(type="password", name="password", placeholder="Lösenord" required)
                    input(type="submit", value = "Create Worker")  
                p="inloggad"
                p=user.name
        main 
            if(user==undefined)
                div(class="usercon")
                    include includes/login.pug
            if(user) 
                if houses
                    div(class = "formContainer") 
                        each house in houses
                            include house.pug