*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.toggleList{
    display: none;
}
.invis{
    display: none;
}
.controls{
    display: flex;
}
.controls *{
    width: 100%;
    min-height: 5vh;
}
input{
    width: 100%;
    padding:1%;
}
.houseCon{
    border: 1px solid #909090;
    min-height: 50vh;
    background-color: #dddada;
    margin: 1%;
}
.formContainer{
    width: 90%;
    margin:auto;
}
header{
    min-height: 10vh;
    padding:3%;
    border-bottom: 1px solid #909090;
}
.usertask{
    display: flex;
}


.fieldCon{
    border-bottom: 2px solid #909090;
    margin-bottom: 2%;
    padding-bottom:2%;
}

.commentCon{
    margin: 2%;
    align-content: center;
    border: 3px solid #000000;
}


@media only screen and (max-width: 500px) {
    .formContainer{
        width: 100%;
        padding: 0%;
        margin: 0%;
        min-width: 100%;
        display: block;
    }
    .houseCon{
        margin: 1%;
    }
    html,body {
        margin: 0;
        padding: 0;
    }
    .controls{
        display: block;
    }
    .controls *{
        width: 100%;
    }

  }