button(class="visButton", houseId=house.id, toggleTarget=":HouseInfoCon") View Houseinfo      
button(class="visButton", houseId=house.id, toggleTarget=":HouseTasksCon") View Tasks      
button(class="visButton", houseId=house.id, toggleTarget=":HouseSuggestionsCon") View       