form(id=suggestion.id+"updSuggestionbtn", class="updSuggestionbtn toggleList", suggestionId=suggestion.id)
    input(type="text", name="text", placeholder="New description")
    input(type="text", name="description", placeholder="New Description")
    input(type="submit", value = "Update with values")