form(action="/tasks", id=task.id+"updTaskbtn",  class="updTaskbtn toggleList" taskId=task.id)
    input(type="text", name="taskName", placeholder="task name")
    input(type="number", name="procent", placeholder="Procent 0-100")
    input(type="submit", value = "Add")